@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Hind:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Hind:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Lato", sans-serif;
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.nav-bar-left-input{
    display: flex;
    align-items: center;
    gap: 80px;
    border: 2px solid #EEEEEE;
    background:#EEEEEE ;
    padding-left: 5px;
    border-radius: 5px;
    width: 170px;
    height: 30px;
}
.nav-bar-middle{
    display: flex;
    align-items: center;
}
.nav-bar-right{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #1865F2;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 0px #EEEEEE;
}
.nav-bar-left{
    display: flex;
    gap: 50px;
    align-items: center;
}
.bar{
    display: none;
}
.icon{
    color: #1865F2;
    display: none;
}
.banner{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-around;
}
.banner-image img{
    width: 500px;
}
.btn-1{
    width: 170px;
    border: 2px solid #1865F2;
    background: #1865F2;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
}
.btn-2{
    width: 170px;
    border: 2px solid #1865F2;
    background: #1865F2;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
}
.btn-3{
    width: 170px;
    border: 2px solid #1865F2;
    background: #1865F2;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
}
.different-subjects{
    display: flex;
    gap: 80px;
    justify-content: center;
    background: #F5F5F5;
    padding: 10px;
}
.different-subject-1-title-2{
    display: flex;
    gap: 25px;
    align-items: center;
}
.different-subject-1-title-1{
    display: flex;
    gap: 10px;
    align-items: center;
}
.different-subject-1-title-1-img img{
    width: 40px;
    border-radius: 50%;
}
.different-subject-1{
    display: flex;
    gap: 80px;
    align-items: center;
}
.Academy-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
.Academy{
    margin-top: 50px;
}
.Academy-text{
    font-size: 2rem;
    text-align: center;
}
.Differentiate-image img{
width: 550px;
}
.Differentiate{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.anything{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.anything-image img{
    width: 600px;
}
.ANJALI{
    margin-top: 70px;
    text-align: center;
    background: #F5F5F5;
    padding: 40px;
    font-size: 2rem;
}
.ANJALI-image{
    display: flex;
    gap: 30px;
    align-items: center;
   justify-content: center;
   margin-left: 350px;
}
.ANJALI-image-img img{
    width: 100px;
   
}
.deserves{
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.deserves-image img{
    width: 550px;
}
.today-btn-1 button{
    font-size: 1.5rem;
    width: 250px;
}
.today-btn-2 button{
    font-size: 1.5rem;
    width: 250px;
}
.today-btn-3 button{
    font-size: 1.5rem;
    width: 250px;
}
.today-btn-4 button{
    font-size: 1.5rem;
    width: 250px;
}
.today-btn-2{
    margin-top: 15px;
}
.today-btn-3{
    margin-top: 15px;
}
.today-btn-4{
    margin-top: 10px;
}
.today{
    background-image: url(./images/last_chance_collage@2x.png);
    background-position: center;
    background-size: 600px;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 150px;
    height: 400px;
}
.supporters{
    margin-top: 100px;
    background: #F5F5F5;
}
.supporters-card-1{
    display: flex;
    align-items: center;
    gap: 50px;
justify-content: center;
}
.supporters-card-2{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
}
.supporters-card-1-1 img{
    width: 170px;
}
.supporters-card-1-2 img{
    width: 170px;
}
.supporters-card-1-3 img{
    width: 170px;
}
.supporters-card-1-4 img{
    width: 170px;
}
.supporters-card-2-1 img{
    width: 170px;
}
.supporters-card-2-2 img{
    width: 170px;
}
.supporters-card-2-3 img{
    width: 170px;
}
.supporters-card-2-4 img{
    width: 170px;
}
.supporters{
    text-align: center;
    padding: 40px;
}
.footer{
    background: #0B2149;
    margin-top: 80px;
    color: white;
    padding: 10px;
}
.footer p{
    font-size: 13px;
}
.footer-start{
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: space-evenly;
}
.footer-end{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}
.footer-start-1-text-2{
    margin-top: 150px;
    display: flex;
    gap: 20px;
}
.footer-start-1-text-2-1{
    display: flex;
    gap: 20px;
    align-items: center;
}
.footer-start-1-text-2-1-2{
    display: flex;
    gap: 20px;
}
.footer-start-1-text-2-1-2-1{
    display: flex;
    gap: 20px;
    align-items: center;
}
.footer-start-1-text-2-1-2-2{
    display: flex;
    gap: 20px;
    align-items: center;
}
.footer-start-1-text-2-1-2-3{
    display: flex;
    gap: 20px;
    align-items: center;
}
.footer-start-1-text-2-1-2-4{
    display: flex;
    gap: 20px;
    align-items: center;
}
.footer-start-1-texts{
    display: flex;
}
.footer-start-3{
    margin-bottom: 150px;
}
.footer-start-1{
    margin-bottom: 150px;
}
.footer-start-3-icon-2 img{
    width: 120px;
}
.footer-end-text{
    display: flex;
    gap: 20px;
}
.footer-end-icons{
    display: flex;
    gap: 20px;
    align-items: center;
    color: #8295A1;
    font-size: 1.5rem;

}
.footer-start-1-text-1{
    color: #8295A1;
}
/* responsive for mobile */
@media screen and (max-width:576px) {
    .nav-bar-left{
        display: none;
    }
    .nav-bar-right{
        display: none;
    }
    .nav-bar-middle{
       margin-right: 200px;
    }
    .bar{
       display: block;
       margin-right: 10px;

    }
    .icon{
        display: block;
        margin-right: 10px;
        
     }
     .banner{
        flex-direction: column;
     }
     .buttons{
        text-align: center;
     }
.btn-1{
   width: 360px;
}
.btn-2{
    display: none;
}
.btn-3{
    display: none;
}
.banner-image img{
    width: 280px;
}
.banner-texts{
    text-align: center;
}
}